

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2016, 2:45:25 PM
    Author     : achraf
*/


body {
    padding-top: 0px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #A4A4A4;
    background-color: #2E2E2E;
    font-size: 12px;
    line-height: 1.5;
}


#facetview_presentation h1{
    color: #696565;
    font-size: 22.4px;
    font-weight: 200;
    text-align: center;
    width: 620px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.note {
    background: rgba(74,109,129,.3);
    bottom: 0;
    left: 0;
    color: #1E303C;
    padding: 0 20px;
    position: absolute;
    width: 100%;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}


.input-group {
    padding-right: 100px;
    width: 800px;
}

.no-padding {
    padding: 0!important;
}

.header-container {
    background-color:#585858;
    height: 80px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;

}

.container {
     background-color: #f2f2f2; 
    color: #222;
    padding: 20px;
    word-break: normal;
    width: 1200px;
    position: relative;
    min-height: 520px;
}

footer p {
    text-align: center;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

div {
    display: block;
}

img {
    max-width: 100%;
    width: auto \9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

blockquote, h1, h2, h3, h4, h5, h6, q {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
    font-size: 24px;
    color: #263238;
    font-weight: 400;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 14px;
    line-height: 1.43;
}

a:focus, a:hover, a:active {
    color: #3367d6;
    text-decoration: underline;
}
/* PUBLICATION  */

.pdf-icon {
    background: url('../data/images/pdf.png') no-repeat 0 0;
    background-size: 34px 34px;
    background-color: #4285f4;
    border-radius: 50%;
    height: 34px;
    margin: .7em 0 .4em .4em;
    text-indent: -5000px;
    width: 34px;
    margin-right: 10px;
}

.publication-sidebar-link {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.publication-content{
    margin-bottom: 30px;
    clear: both;
    margin-top: 30px;
    margin: auto;
    max-width: 1000px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color: white;

}

.publication-meta-block{
    margin: 0 -1.53374233129%;
    width: 103.067484663%;
    border-top: 1px solid #ddd;
    padding: 1.5em 0 0 0;
}


.my-col-4, .my-col-8 {
    float: left;
    margin: 0 1.4880952381% 20px;
}

.my-col-4{
    width: 30.3571428571%;
}

.my-col-8 {
    width: 63.6904761905%;
}

.publication-meta-block p {
    color: #445a64;
    font-size: 14px;
    font-weight: 400;
}

.publication-title{
    margin-bottom: 35px;
}
.publication-abstract{

    border-top: 1px solid #ddd;
    padding: 1.5em 0 0 0;
}

.publication-abstract h2:first-child, .publication-abstract h3:first-child {
    margin-left: 1rem;
    margin-top: 0;
}

.publication-abstract-text{
    border-top: 1px solid #ddd;
    padding: 1.5em 0 0 0;
    margin-bottom: 20px;
}

.abstract {
    padding: 0 1em;
    font-weight: 400;
    font-size: 14px;
    color: #445a64;
}

.keywords {
    padding: 0 1em;
    font-weight: 400;
    font-size: 14px;
    color: #445a64;
}


/* PROFILE  */


.profile-content{
    margin-bottom: 30px;
    clear: both;
    margin-top: 30px;
    margin: auto;
    width: 1170px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color: white;
}

.sidebar{
    border-top: 1px solid #ddd;
    padding: 1.5em 0 0 0;
    
}

.profile-unit{
    margin: 0 0 3em;
}

.profile-unit img {
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.33);
    width: 124px;
    height: 155px;
    float: left;
    margin: 0 0 .5em;
}

.profile-unit ul {
    margin-left: 135px;
}

.no-marker {
    list-style-type: none;
    margin: 0;
}

.sidebar li {
    font-size: 14px;
    font-weight: 400;
}
.ra-list li {
    line-height: 1.2;
    padding: .25em 0;
}

.mainbar{
    border-top: 1px solid #ddd;
    padding: 1.5em 0 0 0;
}

.profile-research-interests{
    border-top: 1px solid #ddd;
}

.profile-keywords{
    border-top: 1px solid #ddd;
}

.co-author {
    float: left;
    height: 4em;
    margin: 0 1% 2% 0;
    width: 40%;
}

.co-author>a {
    clear: left;
    display: block;
}

.pub-list {
        margin: 0;
        
}

.pub-list li {
    padding: 1.5em 1em;
    border-top: 1px solid #ddd;
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

.pub-list .pub-title {
    font-size: 15px;
    color: #757575;
}
.pub-list p {
    color: #445a64;
}
.pub-list p {
    color: #666;
    margin: .4em 0;
    padding: 0;
}


/* INSTITUTION  */
.institution-content{
    margin-bottom: 30px;
    clear: both;
    margin-top: 30px;
    margin: auto;
    width: 1170px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color: white;
}
.member{
    float: left;
    height: 4em;
    margin: 0 1% 2% 0;
    width: 20%;
}

