.row {
    margin-right: -15px;
    margin-left: -15px;
}

h1 {
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -1px;
    margin: 10px 0;
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-weight: 300;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.text-muted {
    color: #777;
}

.txt-color-darken {
    color: #404040!important;
}

#profile-avatar {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 10px #d3d3d3;
}

img {
    vertical-align: middle;
    border: 0;
}

#searchTabContent {
    border: none;
}

.nav-tabs.bordered+.tab-content {
    border: 1px solid #ddd;
    border-top: none;
}

.padding-10 {
    padding: 10px!important;
}
div {
    display: block;
}

.font-xs {
    font-size: 85%!important;
}

.tabs-below>.nav-tabs, .tabs-left>.nav-tabs, .tabs-right>.nav-tabs {
    border-bottom: 0;
}

.tabs-left>.nav-pills, .tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.tabs-left>.nav-pills>li, .tabs-left>.nav-tabs>li, .tabs-right>.nav-pills>li, .tabs-right>.nav-tabs>li {
    float: none;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
li, li a, p {
    color: #555;
}

.profile-info-block .shadow-5 {
    padding: 5px 12px;
    margin-bottom: 15px;
}
.shadow-10, .shadow-5 {
    box-shadow: 0 0 5px #d3d3d3;
}

.profile-info-block .headline {
    margin: 0 0 15px;
}
.headline {
    display: block;
    margin: 10px 0 25px;
    border-bottom: 1px dotted #e4e9f0;
}

.nav-tabs.bordered {
    background: #fff;
    border: 1px solid #ddd;
}
.bordered {
    border: 1px solid rgba(0,0,0,.2);
}



.btn {
    box-shadow: none;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}
.btn {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
.btn, a:link, button {
    -webkit-tap-highlight-color: rgba(169,3,41,.5);
}
.btn-sm {
    padding: 6px 10px 5px;
}
.pull-right {
    float: right!important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
a, button, input {
    -ms-touch-action: none!important;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.pub-item {
    background: none!important;
    height: auto!important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    overflow: visible;
}
.pub-item {
    display: block;
}

.text-align-center, .text-center {
    text-align: center!important;
}
.timeline-seperator {
    display: block;
    text-align: center;
    color: #999;
    margin: 20px 0 0;
}
.text-center {
    text-align: center;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.pub-item .timeline-seperator:after {
    margin: 0 5px;
    margin-top: -8px;
}
.timeline-seperator:after {
    display: block;
    content: " ";
    margin: 0 20px;
    border-bottom: 1px dashed rgba(0,0,0,.1);
    margin-top: -8px;
}