/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2016, 2:45:25 PM
    Author     : achraf
*/

.title {
    width: 560px;
    float: left;
    padding-top: 5px;
}

