<!DOCTYPE html>
<html ng-app="institution">
    <head>
        <meta charset="utf-8" />
        <title>Demo HAL</title>
        <link rel="icon" type="image/x-icon" href="data/images/favicon.ico"/> 
        <link rel="shortcut icon" type="image/x-icon" href="data/images/favicon.ico"/>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/anhalytics.css"/>


        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> 
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script> 
        <script type="text/javascript" src="bower_components/elasticsearch/elasticsearch.angular.js"></script> 
        <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
        <script type="text/javascript" src="js/institution/institution.js"></script>
        <script type="text/javascript" src="js/extension.js"></script>
    </head>
    <body ng-controller="InstitutionController">
        <header>
            <div class="header-container">
                <div class="col-md-2 col-sm-3 col-xs-3 no-padding"><a href=""><img src="data/images/LogoAnhalitycs.png" style="padding-left:5px;padding-top:20px;width:1000px;"></a></div>
                <div class="col-md-2 col-sm-3 col-xs-3 no-padding"><a href="https://www.inria.fr" target="_blank"><img src="data/images/logo_INRIA_fr.png"  style="padding-left:40px;padding-top:10px;width:200px;"></a></div>
                <div class="col-md-2 col-sm-3 col-xs-3 no-padding"><a href="https://hal.archives-ouvertes.fr/" target="_blank"><img src="data/images/hal.logo.png"  style="padding-left:40px;padding-top:10px;width:140px;"></a></div>
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-4 no-padding"></div>
            </div>
        </header>

        <div class="container">
            <div class="institution-content">
                    
                    <h1><a>
                                {{organisation['_source']['names'][0].name}}
                            </a>
                        <a href="organisation_dashboard.html?orgID={{organisation['_id']}}" target="_blank" ><img class="" style="padding-left:5px;padding-top:20px;width:50px;" src="data/images/analytic-icon-14.png"></a>
                        
                        </h1> 
                <div class="row "> 
                    <div class="my-col-4 sidebar">
                        
                        <ul >
                            <li ng-if="organisation['_source']['address']"> 
                                <div > 
                                    {{organisation['_source']['address']['addrLine']}}, {{organisation['_source']['address']['postCode']}}, {{organisation['_source']['address']['settlement']}}, {{organisation['_source']['address']['country']}}
                                </div>   
                            </li>


                            <li > 
                                <div >  
                                </div>      
                            </li>

                            <li ng-if="organisation['_source']['url']"> 
                                <div>  
                                </div>   {{organisation['_source']['url']}}
                            </li>

                            <li > 
                                <div>  
                                </div>
                            </li>

                            <li> 
                                <div>  
                                </div>   
                            </li>
                        </ul> 

                    </div>
                    <div class="my-col-8 mainbar">
                        <div class="row "> 
                            <div class="col-md-6" style="text-align: center;"> 
                                <h3>
                                    <a href="institution/University_Name/department/School_of_Medicine/publications">
                                        {{organisation['_source']['publications'].length}}
                                    </a>
                                    Publications
                                </h3>
                            </div>   

                            <div class="col-md-6" style="text-align: center;"> 
                                <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    {{organisation['_source']['authors'].length}}  Authors
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">

                    <div class="my-col-4 sidebar">
                        <h2>Departments <small> 
                                <a href="institution/{{organisation['_source']['organisationId']}}/departments">View all</a> 
                            </small> 
                        </h2>

                        <div  ng-repeat="relation in organisation['_source']['relations']"> 
                            <div > 
                                <div > 
                                    <a href="institution.html?orgID={{relation['organisationId']}}">
                                        {{relation['names'][0].name}} - {{organisation['_source']['authors'].length}} Members
                                        </a> 
                                </div>
                            </div> 
                        </div>

                    </div>

                    <div class="my-col-8 mainbar">

                        <h2> 
                            Members
                            <small >
                                <a>View all</a> 
                            </small> 
                        </h2><div>
                            <ul> 
                                <li class="member" ng-repeat="author in organisation['_source']['authors']"> 
                                    <p>
                                        <img src="data/images/profile_default_s.jpg">
                                        <a href="profile.html?authorID={{author['personId']}}">{{author.names[0]['fullname']}}</a>
                                        <a href="institution/University_Name" title="University of University_Name">University_Name</a>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row ">
                    <div class="my-col-4 sidebar"><div class="institution-top-collaborations">
                            <h4 style="text-transform: uppercase;">
                                <strong>Top Collaborating Institutions
                                </strong>
                            </h4>

                            <ul >
                            </ul>

                        </div>


                        <div > 
                            <h4 >Collaborations
                            </h4>
                            <div> 
                                This map visualizes which other institutions researchers from 
                                <span style="font-weight: bold"><span>{{organisation['_source']['names'][0].name}}
                                    </span></span>
                                have collaborated with. 
                            </div>

                        </div></div>

                    <div class="my-col-8 mainbar">


                        <h2>Recent Publications 
                            <small >
                                <a href="institution/{{organisation['_source']['organisationId']}}/publications?nav=overview">View all
                                </a>
                            </small>
                        </h2>

                        <ul class="pub-list">
                            <li ng-repeat="pub in publications">

                                <div class="pull-left">    
                                    <a  href="https://hal.archives-ouvertes.fr/{{pub['_source']['uri']}}/document" target="_blank">
                                        <div >
                                            <img src="https://hal.archives-ouvertes.fr/{{pub['_source']['uri']}}/thumb">
                                        </div>      
                                    </a>    
                                </div>
                                <a class="pdf-icon pull-right" href="http://hal.archives-ouvertes.fr/{{ pub['_source']['uri']}}/document" target="_blank">&nbsp;</a>

                                <p class="pub-title">
                                    <span >{{pub['_source']['publication']['type']}}:</span>    
                                    <a target="_blank" href="publication.html?pubID={{pub['_source']['docID']}}"> 
                                        <span>{{pub['_source']['publication']['doc_title']}}
                                        </span> 
                                    </a>     
                                </p>

                                <p >  
                                    <a ng-repeat="author in pub['_source']['authors']" href="profile.html?authorID={{author['personId']}}">
                                        {{author.names[0]['fullname']}} · </a>  
                                </p> 


                                <p >  
                                    <span ng-hide="addClient" > 
                                        <a ng-click="addClient = true">[Show abstract]</a> 
                                    </span> 
                                    <span  ng-show="addClient"> 
                                        <a href="javascript:" ng-click="addClient = false">[Hide abstract]
                                        </a><br> 
                                        <strong >ABSTRACT:</strong> {{abstracts[pub['_source']['docID']]}}
                                    </span> <br> 
                                    <span>
                                        <strong >Keywords:</strong> {{keywords[pub['_source']['docID']]}}

                                    </span>
                                </p>

                                <p > 
                                    <span>

                                    </span> {{pub['_source']['publication']['monograph']['title']}}  · {{pub['_source']['publication']['date_electronic']}}  
                                </p>  
                            </li>
                        </ul>
                        
                            <ul class="pagination">
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)"
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>

                    </div>
                </div>
            </div>


        </div>
        <footer>
            <p class="small text-muted">&copy; The contributors - 2016 </p>
        </footer>
    </body>
</html>
