<!DOCTYPE HTML>
<html ng-app="profile">
    <head>
        <meta charset="utf-8" />
        <title>Demo HAL</title>
        <link rel="icon" type="image/x-icon" href="data/images/favicon.ico"/> 
        <link rel="shortcut icon" type="image/x-icon" href="data/images/favicon.ico"/>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/anhalytics.css"/>

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script> 
        <script type="text/javascript" src="bower_components/elasticsearch/elasticsearch.angular.js"></script> 
        <script type="text/javascript" src="js/extension.js"></script>
        <script type="text/javascript" src="js/profile/profile.js"></script>
    </head>

    <body ng-controller="ProfileController">

        <header>
            <div class="header-container">
                <div class="col-md-2 col-sm-3 col-xs-3 no-padding"><a><img src="data/images/logo_INRIA_fr.png"  style="width:150px;"></a></div>
                <div class="col-md-2 col-sm-3 col-xs-3 no-padding"><a><img src="data/images/hal.logo.png"  style="width:95px;"></a></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5 no-padding"></div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 pull-right no-padding"></div>

            </div>
        </header>
        <div class="profile-content container ">
            <div style="padding-bottom: 90px !important;" class="no-padding">
                <div class="profile-content">
                    <div class="row no-margin profile-header">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profile-header-image lf">
                            <div class="profile-image-wrapper">
                                <img class="" ng-if="!profile['_source']['photo']" src="data/images/default.jpg">
                                <img class="" ng-if="profile['_source']['photo']" src="http://{{profile['_source']['photo']}}">
                            </div>
                        </div>

                        <div style="padding-top:10px;padding-left:30px;padding-right:30px" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

                            <div class="profile-header-personal lf">
                                <h1 class="profile-header-name">
                                    <a href="profile/{{profile['_id']}}" >{{profile['_source']['fullname']}}</a>

                                </h1>

                                <!--<div class="profile-degree"> <div class="title">  PhD   </div>  </div>-->

                                <div class="profile-position" > <div>  <i style="width: 20px;" class="fa fa-institution">
                                        </i>
                                        <span id="title" style="width:90%;">  PhD  </span>  
                                    </div>  
                                </div>


                                <div class="profile-phone" > <div>  
                                        <i style="width: 20px;" class="fa fa-phone"></i>
                                        <span id="phone" class="txt-color-darken">{{profile['_source']['phone']}}</span>  
                                    </div>
                                </div>

                                <div class="profile-email" > <div>  
                                        <i style="width: 20px;" class="fa fa-envelope">

                                        </i><!--span.txt-color-darken {{ profile.contact.email }}-->
                                        <span id="email" class="txt-color-darken">{{profile['_source']['email']}} </span>
                                    </div>
                                </div>

                                <div class="profile-url" > <div> <p class="text-muted">
                                            <i style="width: 20px;" class="fa fa-globe">

                                            </i>
                                            <a id="url" href="{{profile['_source']['url']}}" >{{profile['_source']['url']}}</a>
                                        </p>
                                    </div>
                                </div>
                                <!--<div class="profile-institution org" ng-repeat="affiliation in profile['_source']['affiliations']">  --> 
                                <!-- AFFILIATIONS -->
                                    <div class="c-box"> 
                                        <ul> 
                                            <li class="institution-list-item ">
                                                <div class="indent-left"> 
                                                    <div class="c-img-m">
                                                        <a href=""> 
                                                            <img  src="data/images/institution.jpg">
                                                        </a> 
                                                    </div>
                                                </div> 
                                                <div class="indent-content institution org"> 
                                                    <div class="institution-name"> <strong>
                                                            <a ng-repeat="name in profile['_source']['affiliations'][0]['names']" href="institution.html?orgID={{profile['_source']['affiliations'][0]['organisationId']}}" title="{{name}}" target="_blank"> 
                                                                {{name}}  ·  
                                                            </a>
                                                        </strong> </div>   
                                                    <div class="institution-dept">  Faculty of Philology 
                                                    </div>    
                                                    <div class="text-gray-lighter institution-location"> 
                                                        {{profile['_source']['affiliations'][0]['address']['settlement']}}, {{profile['_source']['affiliations'][0]['address']['country']}}
                                                    </div>  
                                                </div> </li>  
                                        </ul> 
                                    </div>

                                <hr style="margin-top:5px; margin-bottom:5px; margin-right:0 !important">


                            </div>
                        </div>
                    </div>
                    <div class="row profile-main-wrapper">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-7 c-content">
                                    <div>

                                        <!-- PUBLICATIONS -->

                                        <div class="row c-box profile-highlights-publications">
                                            <h4> <strong class="lf"> 
                                                    <a href="">Recent publications</a> 
                                                </strong> 
                                                <small class="rf">   
                                                    <a href="">View all</a>  
                                                </small> 
                                            </h4>

                                            <ul>
                                                <li class="c-list-item li-publication" ng-repeat="pub in publications">
                                                    <div class="indent-left"></div>
                                                    <div class="indent-right">    </div>

                                                    <div style="margin-top: -2px">  
                                                        <h5 >  
                                                            <span class="publication-type">{{pub['_source']['publication']['type']}}:</span>    
                                                            <a href="publication.html?pubID={{pub['_id']}}">
                                                                <span>{{pub['_source']['publication']['doc_title']}}
                                                                </span> </a>    
                                                        </h5>  
                                                    </div>

                                                    <div class="authors">     
                                                        <a href="profile.html?authorID={{author['personId']}}" class="authors " ng-repeat="author in pub['_source']['authors']">{{author['fullname']}} · </a>                                                   </div>

                                                    <!--<div class="pub-stats"> 
                                                        <div class="pub-stat">
                                                            <a href="publication/2895396/stats"> 
                                                                <div class="stat-count">14</div> 
                                                                <div class="stat-label">Reads</div> </a>

                                                        </div> 
                                                        <div class="pub-stat">
                                                            <a href="publication/28953/stats"> 
                                                                <div class="stat-count">0</div> 
                                                                <div class="stat-label">Citations</div> 
                                                            </a>

                                                        </div> 
                                                    </div>
                                                    -->
                                                </li>


                                            </ul>

                                        </div> 

                                        <!-- KEY WORDS -->
                                        <div class="row c-box abstract-keyword-editor-container keyword-editor-teaser profile-keyword-editor-teaser">
                                            <h4> <strong class="lf">
                                                    <a >Topics<small>(8)</small>
                                                    </a>
                                                </strong>  
                                            </h4>
                                            <ul class="lf keyword-list" >  
                                                <li class="keyword-list-token-container">
                                                    <div class="keyword-list-token keyword-list-token-following"> 
                                                        <a href="topic/artificial_intelligence" class="keyword-list-token-text"> Artificial Intelligence 
                                                        </a> 
                                                    </div>                                                      
                                                </li>
                                                <li class="keyword-list-token-container">
                                                    <div class="keyword-list-token keyword-list-token-following"> 
                                                        <a href="topic/artificial_intelligence" class="keyword-list-token-text"> Artificial Intelligence 
                                                        </a> 
                                                    </div>                                                      
                                                </li>
                                                <li class="keyword-list-token-container">
                                                    <div class="keyword-list-token keyword-list-token-following"> 
                                                        <a href="topic/artificial_intelligence" class="keyword-list-token-text"> Artificial Intelligence 
                                                        </a> 
                                                    </div>                                                      
                                                </li>
                                                <li class="keyword-list-token-container">
                                                    <div class="keyword-list-token keyword-list-token-following"> 
                                                        <a href="topic/artificial_intelligence" class="keyword-list-token-text"> Artificial Intelligence 
                                                        </a> 
                                                    </div>                                                      
                                                </li>
                                                <li class="keyword-list-token-container">
                                                    <div class="keyword-list-token keyword-list-token-following"> 
                                                        <a href="topic/artificial_intelligence" class="keyword-list-token-text"> Artificial Intelligence 
                                                        </a> 
                                                    </div>                                                      
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    
                                        <!-- STATS -->
                                        <div class="row c-box profile-highlights-stats stats-list">
                                            <div class="col-md-6 stats-item active publication-count">
                                                <a href="profile/personname/publications"> 
                                                    <div class="stats-count">{{profile['_source']['publications'].length}} </div> 
                                                    <div class="stats-label">Publications</div>

                                                </a>
                                            </div>
                                            <div class="col-md-6 stats-item">
                                                <a href="profile/personname/citations" > 
                                                    <div class="stats-count" >8 </div> <div class="stats-label" >Citations</div>

                                                </a> 

                                            </div>
                                            <!--<div class="col-md-4 stats-item">
                                                <a href="profile/personname/citations" > 
                                                    <div class="stats-count" >251</div> <div class="stats-label" >Reads</div> 

                                                </a> 

                                            </div>-->



                                        </div>

                                    <!-- COAUTHORS -->
                                    <div class="profile-coauthors people-list-s c-box" >
                                        <h4> 
                                            <strong class="lf"> 
                                                <a >Top Co-authors</a> 
                                            </strong> <small class="rf ">
                                                <a >View all</a>  </small> 
                                        </h4>
                                        <div > <div class="authors-block">
                                                <ul> 
                                                    <li class="people-item" ng-repeat="coauthor in coauthors">  
                                                        <div class="indent-left"> 
                                                            <div class="c-img-s people-img">  
                                                                <a href=""> 
                                                                    <img class="lazyloaded" style="height:'30px'; width:'30px';"  src="data/images/profile_default_s.jpg" /> 
                                                                </a>   
                                                            </div> 
                                                        </div> 
                                                        <div class="indent-right">   
                                                        </div> 
                                                        <div class="indent-content"> 
                                                            <h5>  
                                                                <a href="profile.html?authorID={{coauthor['personId']}}" class="display-name">{{coauthor['fullname']}}</a>    
                                                                <span class="meta" style="font-weight: normal;"> &nbsp; 
                                                                     
                                                                </span>  
                                                            </h5>
                                                        </div>    
                                                    </li>




                                            </div>             

                                        </div>
                                    </div>
                                    
                                    
                                    <!-- SKILLS -->
                                    <div class="c-box profile-highlights-skills ">
                                        <h4> <strong class="lf">
                                                <a href="profile/personname/info">Skills and expertise<small>(11)</small></a></strong>  
                                            <small class="rf"><a href="profile/personname/info">View all</a
                                                ></small>
                                        </h4>
                                        <div class="profile-skill-list"> <div class="skills-pill-list"> 
                                                <div class="skills-pill-list-inner">  
                                                    <div class="profile-skill"> 
                                                        <div class="skill-container js-endorserlist " >  
                                                            <span class="endorsement-count" id="yui_3_14_1_1_1458142248234_3813">5</span>   
                                                            <span class="skill-link"> <span class="lf">Natural Language Processing</span> 
                                                            </span> </div>   
                                                    </div>  


                                                    <div class="profile-skill"> 
                                                        <div class="skill-container js-endorserlist " >  
                                                            <span class="endorsement-count" id="yui_3_14_1_1_1458142248234_3813">3</span>   
                                                            <span class="skill-link"> <span class="lf">Morphology</span> 
                                                            </span> </div>   
                                                    </div>

                                                    <div class="profile-skill"> 
                                                        <div class="skill-container js-endorserlist " >  
                                                            <span class="endorsement-count" id="yui_3_14_1_1_1458142248234_3813">2</span>   
                                                            <span class="skill-link"> <span class="lf">Ontologies</span> 
                                                            </span> </div>   
                                                    </div>
                                                </div> </div>  </div>

                                    </div>

                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <footer>
            <p>&copy; The contributors - 2016 </p>
        </footer>
    </body>
</html>
