<!DOCTYPE HTML>
<html ng-app="profile">
    <head>
        <meta charset="utf-8" />
        <title>Demo HAL</title>
        <link rel="icon" type="image/x-icon" href="data/images/favicon.ico"/> 
        <link rel="shortcut icon" type="image/x-icon" href="data/images/favicon.ico"/>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/anhalytics.css"/>

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script> 
        <script type="text/javascript" src="bower_components/elasticsearch/elasticsearch.angular.js"></script> 
        <script type="text/javascript" src="js/extension.js"></script>
        <script src="js/resource/config.js"></script>
        <script type="text/javascript" src="js/profile/profile.js"></script>
    </head>

    <body ng-controller="ProfileController">

        <header>
            <div class="header-container">
                <div class="col-md-2 col-sm-3 col-xs-3 no-padding"><a href=""><img src="data/images/LogoAnhalitycs.png" style="padding-left:5px;padding-top:20px;width:1000px;"></a></div>
                <div class="col-md-2 col-sm-3 col-xs-3 no-padding"><a href="https://www.inria.fr" target="_blank"><img src="data/images/logo_INRIA_fr.png"  style="padding-left:40px;padding-top:10px;width:200px;"></a></div>
                <div class="col-md-2 col-sm-3 col-xs-3 no-padding"><a href="https://hal.archives-ouvertes.fr/" target="_blank"><img src="data/images/hal.logo.png"  style="padding-left:40px;padding-top:10px;width:140px;"></a></div>
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-4 no-padding"></div>
            </div>
        </header>
        <div class="container ">
            <div class="profile-content">
                <div class="row ">
                           <div class="my-col-8">
                               <i class="glyphicon glyphicon-user" style="font-size: 5.2em; color:#333;"></i>
                          
                               <a href="profile/{{profile['_id']}}" style="font-size: 28px;font-weight: 600;margin: 0 0 10px;">{{profile['_source'].names[0]['fullname']}}</a>
     
                           &nbsp;&nbsp;&nbsp;<a type="button" class="btn btn-info" href="individual_dashboard.html?authID={{profile['_id']}}" target="_blank" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Dashboard</a>
                               </div>
                <div class="my-col-4"> 
                                                      
    
                </div>
                </div>
                <div class="row ">
                    <div class="my-col-4 sidebar">
                        <div class="profile-unit">


                        <div>  
                                <div> 
                               <i style="width: 20px;" class="fa fa-institution">
                            </i>
                                    <a href="institution.html?orgID={{profile['_source']['affiliations'][profile['_source']['affiliations'].length -1]['organisationId']}}" title="{{profile['_source']['affiliations'][profile['_source']['affiliations'].length -1]['names'][0].name}}" target="_blank"> 
                                {{profile['_source']['affiliations'][profile['_source']['affiliations'].length -1]['names'][0].name}}
                                    <span ng-if="profile['_source']['affiliations'][0]['address']"> 
                                    - {{profile['_source']['affiliations'][0]['address']['settlement']}} - {{profile['_source']['affiliations'][0]['address']['country']}}
                                </span></a> 
                                </div>   
                                 
                        </div>
                        <div ng-if="profile['_source']['phone']">  
                            <i style="width: 20px;" class="fa fa-phone"></i>
                            <span>{{profile['_source']['phone']}}</span>  
                        </div>

                        <div>  
                            <i style="width: 20px;" class="fa fa-envelope">

                            </i><!--span.txt-color-darken {{ profile.contact.email }}-->
                            <span >{{profile['_source']['email']}} </span>
                        </div>
                        
                        <div ng-if="profile['_source']['identifers']">
                            <div ng-repeat="identifier in profile['_source']['identifers']">
                                <span ng-if="identifier.type!=='halAuthorId'"><strong>{{identifier.type}}</strong> : {{identifier.id}}</span></div>
                        </div>

                        <div ng-if="profile['_source']['url']"> 
                                <i style="width: 20px;" class="fa fa-globe">

                                </i>
                                <a href="{{profile['_source']['url']}}" >{{profile['_source']['url']}}</a>
                        </div>
                        </div>
                    </div>


                    <div class="my-col-4 mainbar">

                        <div class="profile-research-interests">
                            <h4>Wikipedia Categories
                            </h4>

                            <ul>  
                                <li ng-repeat="interest in interests track by $index">
                                    <div > 
                                        <a href="https://en.wikipedia.org/wiki/{{interest}}" target="_blank"> {{interest}} 
                                        </a> 
                                    </div>                                                      
                                </li>
                            </ul>
                        </div>
                        </div>
<div class="my-col-4 mainbar">
                        <div class="profile-keywords">
                            <h4>Keywords
                            </h4>

                            <ul  >  
                                <li ng-repeat="keyword in keywords track by $index">
                                    <div > 
                                        {{keyword}} 
                                    </div>                                                      
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="row ">
                    <div class="my-col-4 sidebar">
                        <h2> Co-authors
<!--                            <a href="">View all</a> -->
                        </h2>
                        <div>
                            <ul>
                                <li class="co-author" ng-repeat="coauthor in coauthors"> 

                                    <div > 
                                        <a href="profile.html?authorID={{coauthor['personId']}}"> 
                                        </a>   
                                        <a href="profile.html?authorID={{coauthor['personId']}}">{{coauthor.names[0]['fullname']}}</a>
                                    </div>    
                                </li>
                            </ul> 
                        </div>  
                    </div>



                    <div class="my-col-8 mainbar">
                        <div class="profile-publications">
                            <h2>Publications

                                ({{profile['_source']['publications'].length}})

<!--                                <a href="">View all</a> -->
                            </h2>

                            <ul class="pub-list">
                                <li ng-repeat="pub in publications">

                                    <a class="pdf-icon pull-right" href="http://hal.archives-ouvertes.fr/{{ pub['_source']['uri']}}/document" target="_blank">&nbsp;</a> 
                                    <p class="pub-title">  
                                        <span >{{pub['_source']['publication']['type']}}:</span>    
                                        <a href="publication.html?pubID={{pub['_id']}}">
                                            <span>{{pub['_source']['publication']['doc_title']}}
                                            </span> </a>    
                                    </p> 

                                    <p >     
                                        <a href="profile.html?authorID={{author['personId']}}" ng-repeat="author in pub['_source']['authors']">{{author.names[0]['fullname']}}, </a>
                                    </p>
                                    <p >{{pub['_source']['publication']['monograph']['title']}}</p> 

                                </li>


                            </ul>
                            
                            <ul class="pagination">
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)"
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>


            </div>
        </div>


        <footer>
            <p class="small text-muted">&copy; The contributors - 2016 </p>
        </footer>
    </body>
</html>
